.header {
    background-color: var(--dim-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0.4rem;
    color: var(--white);
    height: 45px;
}
.header__img {
    max-width: 2rem;
}
.header__title {
    text-transform: uppercase;
    font-weight: 600;
}

@media (min-width: 720px) {
    .header {
        justify-content: flex-start;
        padding: 0.4rem 1.0rem;
    }
}