.home {
    padding-left: calc((106vw - 1200px) / 2);
    padding-top: 5rem;
    grid-gap: 0rem;
    gap: 1rem;
    grid-auto-rows: 34rem;
    grid-template-columns: repeat(auto-fill, minmax(29rem, 14fr));
    position: relative;
}

.containerPrincipal {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    max-width: 1044px;
    height: 700px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 24px;
        max-width: 996px;
        height: 23px;
        background: #ffffff;
        border-radius: 4px 4px 0px 0px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        .vector {
            width: 0px;
            height: 23px;
            border: 2px solid #ffdc5d;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        .name {
            max-width: 988px;
            height: 23px;
            font-family: "Roboto Condensed";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            display: flex;
            align-items: flex-end;
            color: #1b1b1b;
            flex: none;
            order: 1;
            flex-grow: 1;
        }
    }

    .contentData {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 24px;
        max-width: 950px;
        height: 560px;
        background: #fbfbfb;
        border-radius: 8px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        .subTitle1 {
            max-width: 589px;
            height: 19px;
            font-family: "Roboto Condensed";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: flex-end;
            color: #1b1b1b;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        .contentButton {
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 24px;
            max-width: 200px;
            height: 195px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;

            .constDecimacion {
                margin-top: 2px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;
                height: 60px;
                flex: none;
                order: 0;
                flex-grow: 1;

                .name {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px;
                    gap: 8px;
                    height: 17px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    font-family: "Roboto Condensed";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 120%;
                    color: #1b1b1b;
                }

                .inputNumber {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 8px 16px;
                    gap: 10px;
                    // width: 282.5px;
                    height: 30px;
                    background: #ffffff;
                    border: 1px solid #999999;
                    border-radius: 5px;
                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;
                }

                .contentButtom {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    width: 126px;
                    height: 40px;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    margin-left: 34px;
                    margin-top: 7px;

                    .buttom {
                        cursor: pointer;
                        justify-content: center;
                        align-items: center;
                        padding: 6px 25px;
                        width: 126px;
                        height: 40px;
                        background: #ffdc5d;
                        border-radius: 50px;
                        flex: none;
                        order: 0;

                        .nameButtom {
                            width: 45px;
                            height: 20px;
                            font-family: "Roboto Condensed";
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            color: #016d38;
                            flex: none;
                            order: 1;
                            flex-grow: 0;
                        }
                    }
                }
            }
        }
    }
}

.contentFlex {
    grid-row: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px -1px 7px 1px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.textEncypt {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px;
    gap: 4px;
    max-width: 934px;
    height: 161px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.modalError {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    margin-top: -32rem;
    margin-left: 24rem;
    position: relative;
    width: 484px;
    height: 318px;
    background: #ffffff;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.42);
    border-radius: 8px;

    .contentError {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px 56px;
        gap: 32px;
        width: 366px;
        height: 262px;
        flex: none;
        order: 1;
        flex-grow: 0;

        .imgContent {
    
            width: 64px;
            height: 64px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .buttomError {
    
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: 0px;
            gap: 24px;
            width: 318px;
            height: 40px;
            flex: none;
            order: 2;
            flex-grow: 0;
        }
    }
}

.mensajeError {
    width: 340px;
    height: 46px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #1b1b1b;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.app-button-login2:focus {
    cursor: pointer;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.1rem #345f4a;
    background-color: #2e8b5d;
    color: #FFFFFF;
}

.app-button-login2:hover {
    cursor: pointer;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.1rem #345f4a;
    background-color: #2e8b5d;
    color: #FFFFFF;
}

.app-button-login2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 160px;
    height: 40px;
    background: #FFFFFF;
    border: 1.4px solid #016D38;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0 12px;
}

.app-button-login {
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 8px 16px;
    width: 160px;
    height: 40px;
    background: #FFDC5D;
    border-radius: 50px;
    margin: 0 12px;
}

.app-button-login:hover {
    background: #EFC52D;
    color: #016D38;
    border-color: #EFC52D;
}

.app-button-login:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #DDCC85;
}

.contentMessage {
    background-color: white;
    width: 11rem;
    height: 31rem;
    border: ridge;
    margin-left: 48rem;
    position: absolute;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px -1px 7px 1px rgb(0 0 0 / 60%);
    text-align: justify;

    .content {
        // margin-top: 10rem;
        margin-left: 10px;
        margin-right: 7px;
    }
}

.loader {
    width: 20em;
    height: 20em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
    width: 40%;
    height: 40%;
    color: #003fff;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: lime;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}

.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
    to {
        transform: rotate(1turn);
    }
}


.titleInfo {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.contenScroll {
    scrollbar-color: #ffdc5d transparent;
}

.contenScroll::-webkit-scrollbar {
    width: 3px;
}

.contenScroll::-webkit-scrollbar-thumb {
    position: static;
    width: 4px;
    height: 96px;
    left: 0px;
    top: 0px;
    background: #ffdc5d;
    border-radius: 50px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 0px;
}